websockets
storage3==0.11.3
supafunc==0.9.3
postgrest==0.19.3
aiofiles==24.1.0
web3
psutil==6.1.0 
types-requests==2.32.0.20250301
loguru
fake-useragent==1.5.1
pyrofork==2.3.61
ccxt==4.4.94
cryptography==45.0.5
aiohttp==3.12.14
SQLAlchemy==2.0.41
pycoingecko==3.2.0
requests==2.32.4
pydantic
uvicorn==0.35.0
pyjwt==2.10.1
cachetools==4.2.2
sqlitedict==1.7.0
unicorn-binance-websocket-api==1.34.2
unicorn-fy==0.11.0
schedule==1.1.0
python-binance==1.0.27
scikit-learn
lightgbm
tensorflow
